/* Heavily Modified Tufte CSS styles
https://github.com/edwardtufte/tufte-css/blob/gh-pages/tufte.css
Removed all non-Markdown related css
margin-notes are using Header 5
 */

*, *:after, *:before {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

html { font-size: 14px; }

body { width:87.5%;
       margin-left: auto;
       margin-right: auto;
       padding-left: 5%;
       padding-top: 5rem;
       padding-bottom: 5rem;
       font-family: "Palatino", "Palatino Linotype", "Book Antiqua", Georgia, serif;
       background-color: whitesmoke;
       background-color: #fffff8;
       color: #111;
       max-width: 1400px;
       text-rendering: optimizeLegibility;
}

h1 { font-weight: 400;
     margin-top: 4rem;
     margin-bottom: 1.5rem;
     font-size: 3.2rem;
     line-height: 1; }

h2 { font-style: normal;
     font-weight: 400;
     margin-top: 2.1rem;
     margin-bottom: 0;
     font-size: 2.2rem;
     line-height: 1; }

h3 { font-style: normal;
     font-weight: 400;
     font-size: 1.7rem;
     margin-top: 2rem;
     margin-bottom: 0;
     line-height: 1; }

p, ol, ul { font-size: 1.4rem;  }

p { line-height: 2rem;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline; }

ol, ul { line-height: 1.5rem;
         width: 80%;
         -webkit-padding-start: 5%;
         -webkit-padding-end: 5%; }

ul { list-style-type: none;}

li { padding: 0.5rem 0; }

p, pre, code {
  width: 60%;
}

pre {
 white-space: pre-wrap;       /* css-3 */
}

blockquote { font-size: 1.4rem; }
blockquote p { width: 50%; }

a {
  color: #111;
  text-decoration: none;
  border-bottom: 1px solid #777;
  padding-bottom: 1px;
}

img { max-width: 100%; }

h5 { float: right;
     clear: right;
     width: 30%;
     margin-top: 0;
     margin-bottom: 0;
     font-size: 1rem;
     font-weight: normal;
     line-height: 1.3;
     vertical-align: baseline;
     position: relative; }


h5, code { font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        font-size: 1.125rem;
        line-height: 1.6; }


table { width: 60%;
        text-align: right;
        font-size: 1.2rem;
        line-height: 1.4;
        margin: 1.4rem 1%;
        border-collapse: separate;
        border-spacing: 0 5px;
       }

thead th { border-bottom: 1px solid #AAAAAA;
           font-weight: 400;
           border-collapse: separate;
           border-spacing: 5px 5px; }

td.text { text-align: left; }

@media screen and (max-width: 1024px) {
          h5 { float: none;
               width: 100%}
          p, pre, code { width: 90%; }
        }
